@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #dbd5c6;
  --secondary: #4e4e4e;
  --accent: #be1313;
  --action: #94918a;
  --black: #161514;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.project-hover-group {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project-hover-overlay {
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  inset: 0;
  background: rgba(34, 34, 29, 0.5);
  /* donker effect */
  color: #ece7db;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.project-hover-group:hover .project-hover-overlay {
  opacity: 1;
}